@import url(./variables.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font--default);
}
html {
	height: 100vh;
}
body {
	background-color: var(--yellow-color);
}
a {
	text-decoration: none;
}
header {
	text-align: center;
	/* margin-top: -1.2rem; */
}
main {
	margin-top: 1rem;
}

.title-game {
	color: var(--logo-color);
	font-size: 3.6rem;
	margin-top: 1rem;
}
.container-pontuation-timer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 1.6rem;
	gap: 1rem;
}

#span-pontuation,
#span-time {
	color: var(--white-color);
}
.container-100 {
	width: 100%;
}

.board-game {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 10px; /*Espaçamento entre as colunas*/
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
	font-size: 1.4rem;
}

.card-game {
	width: 100%;
	height: 10rem;
	transform-style: preserve-3d;
	transition: all 0.8s ease;
	position: relative;
	border-radius: 1rem;

}



.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	text-align: center;
	border-radius: 1rem;
}

.img-cardFront {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.card-front {
	background-color: var(--white-color);
}
.card-back {
	background-color: var(--logo-color);
	color: var(--white-color);
	transform: rotateY(180deg);
	background-size: contain;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
}

.flipCard {
	transform: rotateY(180deg);
}

.button-start {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-game {
	background-color: var(--red-color);
	color: var(--white-color);
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1.3rem;
	cursor: pointer;
	width: 60%;
	max-width: 20rem;
	min-width: 10rem;
	text-align: center;
	margin-top: 0.5rem;
}
.btn-game:active {
	transform: scale(0.9);
}
#overlay-endgame {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--white-color);
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	gap: 0.6rem;
	font-size: 24px;
	z-index: 999;
}
#title-endgame {
	font-size: 3rem;
}
.container-buttons-endgame {
	gap: 1rem;
	flex-wrap: wrap;
	width: 100%;
}
.hidden {
	display: none !important;
}
.btn-endgame {
	max-width: 14rem;
}
@media (min-width: 768px) {
	.board-game {
		grid-template-columns: repeat(4, 1fr);
	}
	.button-start {
		padding-bottom: 0.8rem;
	}
}
