@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
:root {
	--red-color: #d50032;
	--blue-color: #1e3a8a;
	--white-color: #ffffff;
	--black-color: #000000;
	--yellow-color: #ffcc00;
	--logo-color: #181a25;
	--font--default: "Bangers", sans-serif;
}
